<style>
.mod.mod-RR-cross-sell.RR-fed.fn_sc_v8 {
  width: 634px !important;
  margin-top: -10px;
}

.RR-placeholder {
  width: 634px;
}

.mod-RR-cross-sell h2 {
  font-family: "Gill Sans", Calibri, Arial, sans-serif;
  font-size: 20px !important;
  color: #000;
  font-weight: 400;
  margin-top: 23px;
}

.mod-RR-cross-sell .cross-sell-more {
  margin-top: 10px;
}
/*Small promo overwrites */

.col-10 {
  width: 991px !important;
}

.main.col-10 {
  background-color: #fff;
}

.col-10.first {
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dedbd2;
  border-left: 1px solid #fff;
  margin-top: -16px;
  margin-left: -1px;
  border-bottom: none;
  margin-bottom: -1px;
}

.col-6.last {
  display: none;
}

.split {
  display: none;
}

#wrapper-footer {
  margin-top: 18px;
}

.cq-whatsnew {
  background-image: url(https://johnlewis.scene7.com/is/image/JohnLewis/sprite-JL-main-v02?$alpha_png$);
  background-repeat: no-repeat;
  background-position: 0 -150px;
  height: 22px;
  width: 177px;
  text-indent: -9999px;
}

.mod-RR-cross-sell {
  margin-top: 25px;
}

.main .col-10 {
  padding-top: 5px;
}
/*        .mod-RR-cross-sell {display: none;}    */ /* Delivery Blocks */

#hp-delivery-wrap {
  width: 998px;
  height: 60px;
  margin: 8px 0px 0px -19px;
  background-color: #fff;
}

#hp-delivery-wrap .click-collect-blk {
  float: left;
}

#hp-delivery-wrap .hom-del-blk {
  float: left;
}

#hp-delivery-wrap .int-del-blk {
  float: left;
}
/* Full width banner */

#cq-hp-fw-blk-wrap {
  width: 960px;
  height: 100px;
  background: url(https://johnlewis.scene7.com/is/image/JohnLewis/hp-christmas-111116a);
  margin-bottom: 18px;
  position: relative;
}

#cq-hp-fw-blk-wrap .christmas-link {
  float: left;
}

#cq-hp-fw-blk-wrap ul {
  text-align: right;
  width: 230px;
  position: absolute;
  right: 20px;
  bottom: 5px;
}

#cq-hp-fw-blk-wrap ul li {
  list-style-type: none;
  font-size: 12px;
}

#cq-hp-fw-blk-wrap ul li a {
  color: #fff;
}

#cq-hp-fw-blk-wrap-pricematch {
  width: 960px;
  height: 184px;
  background-color: #000;
  margin-bottom: 18px;
}

#cq-hp-fw-blk-wrap-pp {
  width: 960px;
  height: 120px;
  background-color: 000;
  margin-bottom: 18px;
}

#cq-hp-fw-blk-wrap-bf {
  width: 960px;
  height: 123px;
  background-color: 000;
  margin-bottom: 18px;
}
/* Split Block */

#cq-hp-split-sp-blk-wrap {
  width: 960px;
  height: 100px;
  margin: 10px 0 30px 0;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-left {
  float: left;
  width: 471px;
  height: 123px;
  background: url(https://johnlewis.scene7.com/is/image/JohnLewis/hp-ia-hampers-181116);
  position: relative;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-left h3 {
  font-family: "Gill Sans", Helvetica, Arial, Sans;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  position: absolute;
  width: auto;
  top: 18px;
  left: 297px;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-left h4 {
  font-family: "Gill Sans", Helvetica, Arial, Sans;
  font-weight: 200;
  font-size: 14px;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 40px;
  left: 248px;
  width: auto;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-left span {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  color: #1c1f2d;
  left: 18px;
  bottom: 20px;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-left span:hover {
  text-decoration: underline;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-right {
  float: left;
  width: 471px;
  height: 123px;
  margin-left: 18px;
  position: relative;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-right ul {
  position: absolute;
  top: 75px;
  left: 18px;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-right ul li {
  list-style-type: none;
  margin: 0 0 3px 0;
}

#cq-hp-split-sp-blk-wrap .hp-splitblk-right ul li a {
  color: #fff;
}
/*Small promo blocks*/

#cq-left-hppromo {
  padding-top: 8px;
  width: 960px;
}

#cq-left-hppromo h3 {
  font-weight: bold;
  height: auto;
  width: 308px;
  font-size: 14px;
  text-align: center;
  margin: 0 0 5px;
  padding: 0;
  float: left;
}

#cq-left-hppromo h4 {
  height: auto;
  width: 308px;
  font-weight: 200;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin: 0 0 10px;
  padding: 0;
  float: left;
}

#cq-left-hppromo ul.threeblk {
  width: 960px;
  padding: 0;
  float: left;
}

#cq-left-hppromo ul.threeblk.first {
  margin-bottom: 18px;
}

#cq-left-hppromo ul.threeblk li {
  width: 308px;
  padding: 0;
  margin: 0 18px 0 0;
  float: left;
  list-style: none;
  text-align: center;
}

#cq-left-hppromo ul.threeblk li.lastli {
  margin: 0;
}

#cq-left-hppromo ul.threeblk li a {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#cq-left-hppromo ul.threeblk li img {
  height: 308px;
  width: 308px;
  margin: 0 0 10px;
}

#cq-left-hppromo .cq-split-block {
  width: 471px;
  float: left;
}

#cq-left-hppromo .cq-split-block.first {
  margin-right: 18px;
}

.cq-smallpromo-block img {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.cq-smallpromo-block img:hover {
  opacity: 0.8;
}
/* Spacers */

.cq-hp-puttyspacer {
  width: 999px;
  height: 18px;
  background-color: #f2f1ec;
  margin: 18px 0 2px -20px;
}

.cq-hp-puttyspacer.first {
  margin: -3px 0 2px -20px !important;
}

.cq-hp-puttyspacer.beinspired .top {
  height: 24px;
}

.cq-hp-puttyspacer.beinspired {
  height: 38px;
  margin: -3px 0 2px -20px !important;
}
/* Be inspired */

#cq-hp-beinspired {
  width: 960px;
  height: auto;
  background-color: #F3F1ED;
  margin: -2px 0 0 -19px;
  padding: 18px 19px 0 19px;
}

#cq-hp-beinspired ul li {
  width: 308px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 18px;
  text-align: center;
}

#cq-hp-beinspired ul li.last {
  margin: 0;
}

#cq-hp-beinspired .inspiration-copyblk {
  width: 272px;
  min-height: 80px;
  background-color: #ffffff;
  margin-top: -3px;
  padding: 18px;
}

#cq-hp-beinspired .inspiration-copyblk h3 {
  font-size: 14px;
  font-weight: bold;
}

#cq-hp-beinspired .inspiration-copyblk h4 {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

#cq-hp-beinspired .ia-seeall-btn {
  border: 1px solid #cecece;
  padding: 20px;
  text-align: center;
  width: 268px;
  margin: 24px auto 3px;
}

#cq-hp-beinspired .ia-seeall-btn span {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

#cq-hp-beinspired .ia-seeall-btn span:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* More from us */

#cq-hp-morefromus {
  padding-top: 24px;
  width: 996px;
}

#cq-hp-morefromus li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 18px;
  width: 308px;
  margin: 0 18px 0 0;
  float: left;
}
/* Section titles */

.cq-hp-section-titles {
  font-size: 18px !important;
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 18px !important;
  margin-left: -32px !important;
}

.cq-hp-section-title-inspire {
  font-size: 18px !important;
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px !important;
  margin-left: 0;
}

.hp-blackheath-bnr {
  margin-top: 18px;
}
</style>
