
<div id="login-overlay" class="overlay-wrapper">
  <div class="overlay iframe" style="overflow: visible;">
    <iframe id="login-overlay-iframe" data-login-iframe-src="/store/user/gadgets/loginOverlay.jsp?iframe=Login&amp;parentSchema=https&amp;serverName=www.johnlewis.com" class="login-iframe" allowtransparency="true" frameborder="0"></iframe>
    <div style="clear:both"></div>
  </div>
  <div class="overlay-bg"></div>
</div>


<div id="login-overlay-register" class="overlay-wrapper">
  <div class="overlay iframe" style="overflow: visible;">
    <iframe data-login-iframe-src="/store/user/gadgets/loginOverlay.jsp?iframe=Register&amp;parentSchema=https&amp;serverName=www.johnlewis.com" class="login-iframe" allowtransparency="true" frameborder="0"></iframe>
    <div style="clear:both"></div>
  </div>
  <div class="overlay-bg"></div>
</div>


<div id="login-overlay-forgot-password" class="overlay-wrapper">
  <div class="overlay iframe" style="overflow: visible;">
    <iframe data-login-iframe-src="/store/user/gadgets/loginOverlay.jsp?iframe=ForgotPassword&amp;parentSchema=https&amp;serverName=www.johnlewis.com" class="login-iframe" allowtransparency="true" frameborder="0"></iframe>
    <div style="clear:both"></div>
  </div>
  <div class="overlay-bg"></div>
</div>


<div id="change-country-overlay" class="overlay-wrapper">
  <div class="overlay-bg" style="display: block; opacity: 0.5;"></div>
  <div class="int-choose-country-media-overlay overlay tablet-jl" style="overflow: visible; top: 152.5px; min-height: 403px;">


    <h2>John Lewis delivers to 39 countries worldwide</h2>

    <a href="#" class="close-panel">Close</a>
    <hr aria-hidden="true">


    <div id="int-choose-country-wrapper" class="clear" style="height: auto;">



      <div id="int-choose-country-desc">
        <p>We make international delivery easy with:</p>
        <ul class="choose-country-content">
          <li>A wide range of products available</li>

          <li>Prices shown in local currency or GBP</li>

          <li>Low delivery prices</li>
        </ul>

        <a href="/customer-services/international-delivery-landingpage" class="tab-link">More about international delivery</a>

        <div class="choose-country-map" aria-hidden="true">
          <img class="media" style="height: 163px; width: 295px;" src="https://johnlewis.scene7.com/is/image/JohnLewis/grey-map" alt="See John Lewis international map">
        </div>
      </div>

      <div class="int-choose-country-selection">

        <h3 class="europe">Europe</h3>
        <ul>

          <li>
            <a class="flag-sm at change-country-btn" href="#"><span id="AT">Austria</span></a>
          </li>

          <li>
            <a class="flag-sm be change-country-btn" href="#"><span id="BE">Belgium</span></a>
          </li>

          <li>
            <a class="flag-sm cy change-country-btn" href="#"><span id="CY">Cyprus (Republic of)</span></a>
          </li>

          <li>
            <a class="flag-sm ch change-country-btn" href="#"><span id="CH">Switzerland</span></a>
          </li>

          <li>
            <a class="flag-sm cz change-country-btn" href="#"><span id="CZ">Czech Republic</span></a>
          </li>

          <li>
            <a class="flag-sm dk change-country-btn" href="#"><span id="DK">Denmark</span></a>
          </li>

          <li>
            <a class="flag-sm ee change-country-btn" href="#"><span id="EE">Estonia</span></a>
          </li>

          <li>
            <a class="flag-sm fi change-country-btn" href="#"><span id="FI">Finland</span></a>
          </li>

          <li>
            <a class="flag-sm fr change-country-btn" href="#"><span id="FR">France</span></a>
          </li>

          <li>
            <a class="flag-sm de change-country-btn" href="#"><span id="DE">Germany</span></a>
          </li>

          <li>
            <a class="flag-sm gr change-country-btn" href="#"><span id="GR">Greece</span></a>
          </li>

          <li>
            <a class="flag-sm hu change-country-btn" href="#"><span id="HU">Hungary</span></a>
          </li>

          <li>
            <a class="flag-sm ie change-country-btn" href="#"><span id="IE">Ireland (Republic of)</span></a>
          </li>

          <li>
            <a class="flag-sm it change-country-btn" href="#"><span id="IT">Italy</span></a>
          </li>

        </ul>
      </div>

      <div class="int-choose-country-selection">

        <ul>
          <li>
            <a class="flag-sm lv change-country-btn" href="#"><span id="LV">Latvia</span></a>
          </li>

          <li>
            <a class="flag-sm lt change-country-btn" href="#"><span id="LT">Lithuania</span></a>
          </li>

          <li>
            <a class="flag-sm lu change-country-btn" href="#"><span id="LU">Luxembourg</span></a>
          </li>

          <li>
            <a class="flag-sm mt change-country-btn" href="#"><span id="MT">Malta</span></a>
          </li>

          <li>
            <a class="flag-sm nl change-country-btn" href="#"><span id="NL">Netherlands</span></a>
          </li>

          <li>
            <a class="flag-sm no change-country-btn" href="#"><span id="NO">Norway</span></a>
          </li>

          <li>
            <a class="flag-sm pl change-country-btn" href="#"><span id="PL">Poland</span></a>
          </li>

          <li>
            <a class="flag-sm pt change-country-btn" href="#"><span id="PT">Portugal</span></a>
          </li>

          <li>
            <a class="flag-sm sk change-country-btn" href="#"><span id="SK">Slovakia</span></a>
          </li>

          <li>
            <a class="flag-sm si change-country-btn" href="#"><span id="SI">Slovenia</span></a>
          </li>

          <li>
            <a class="flag-sm es change-country-btn" href="#"><span id="ES">Spain</span></a>
          </li>

          <li>
            <a class="flag-sm se change-country-btn" href="#"><span id="SE">Sweden</span></a>
          </li>

          <li>
            <a class="flag-sm gb change-country-btn" href="#"><span id="GB">United Kingdom</span></a>
          </li>

        </ul>
        <h3 class="restworld">Rest of the world</h3>
        <ul class="after-rest-world">

          <li>
            <a class="flag-sm ae change-country-btn" href="#"><span id="AE">United Arab Emirates</span></a>
          </li>

        </ul>
      </div>

      <div class="int-choose-country-selection">

        <ul>
          <li>
            <a class="flag-sm au change-country-btn" href="#"><span id="AU">Australia</span></a>
          </li>

          <li>
            <a class="flag-sm ca change-country-btn" href="#"><span id="CA">Canada</span></a>
          </li>

          <li>
            <a class="flag-sm hk change-country-btn" href="#"><span id="HK">Hong Kong</span></a>
          </li>

          <li>
            <a class="flag-sm kr change-country-btn" href="#"><span id="KR">Korea, Republic of</span></a>
          </li>

          <li>
            <a class="flag-sm my change-country-btn" href="#"><span id="MY">Malaysia</span></a>
          </li>

          <li>
            <a class="flag-sm nz change-country-btn" href="#"><span id="NZ">New Zealand</span></a>
          </li>

          <li>
            <a class="flag-sm ph change-country-btn" href="#"><span id="PH">Philippines</span></a>
          </li>

          <li>
            <a class="flag-sm qa change-country-btn" href="#"><span id="QA">Qatar</span></a>
          </li>

          <li>
            <a class="flag-sm sg change-country-btn" href="#"><span id="SG">Singapore</span></a>
          </li>

          <li>
            <a class="flag-sm za change-country-btn" href="#"><span id="ZA">South Africa</span></a>
          </li>

          <li>
            <a class="flag-sm us change-country-btn" href="#"><span id="US">United States</span></a>
          </li>

        </ul>
      </div>



    </div>

    <div style="clear:both"></div>
  </div>
</div>

<div id="clear-basket-warning-overlay" class="overlay-wrapper">
  <div class="overlay-bg" style="display: block; opacity: 0.5;"></div>
  <div class="overlay media-overlay basket-warning tablet-jl" style="overflow: visible; top: 152.5px; min-height: 250px;">
    <a href="#" class="close-panel">Close</a>

    <div class="contents change-country" style="height: auto;">
      <div id="int-choose-country-wrapper" class="clear tablet-jl">
        <div id="int-choose-country-desc" class="col-100">
          <div class="red-msg-box">
            <p>
              <strong>Please note, changing country will empty your basket.</strong>
            </p>
            <p>
              You have items in your shopping basket. In order to change delivery to
              <span id="clear-basket-warning-country-name"></span>, your basket will be emptied. Are you sure you want to change delivery country?
            </p>
          </div>
          <div class="basket-options clearfix">
            <input type="button" class="grey-btn change-country-empty-basket" value="Empty basket and change country" name="">
            <input type="button" class="green-btn keep-country" value="Keep current delivery country" name="">
          </div>
        </div>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>

<div id="delivery-options-landing-overlay" class="overlay-wrapper" style="display: none;">
  <div class="overlay-bg" style="display: block; opacity: 0.5;"></div>
  <div class="overlay media-overlay selected-country tablet-jl" style="overflow: visible; top: 152.5px; min-height: 330px;">
    <div id="selected-country-header">
      <div class="flag-md gb"></div>

      <h2>
        Delivering to United Kingdom?
      </h2>
    </div>
    <a href="#" class="close-panel">Close</a>
    <hr aria-hidden="true">

    <div class="contents" style="height: auto;">
      <div id="int-choose-country-wrapper" class="clear">
        <div id="int-choose-country-desc" class="col-50">
          <p>
            We make it easy to deliver to United Kingdom with:
          </p>

          <ul class="choose-country-content">
            <li>A wide range of products available</li>

            <li>Prices shown in GBP or GBP</li>

            <li>Low delivery costs</li>
          </ul>

          <div class="selected-country-dropdown-list">
            <input id="deliverToDetectedCountry" type="button" class="green-btn" value="Deliver to United Kingdom" name="deliverToCountry">

            <label for="sel-country">Or deliver to a different country</label>


            <select id="sel-country" data-msg-required="Please select a country from the list" aria-describedby="list-of-countries">

              <option value="AU">
                Australia
              </option>

              <option value="AT">
                Austria
              </option>

              <option value="BE">
                Belgium
              </option>

              <option value="CA">
                Canada
              </option>

              <option value="CY">
                Cyprus (Republic of)
              </option>

              <option value="CZ">
                Czech Republic
              </option>

              <option value="DK">
                Denmark
              </option>

              <option value="EE">
                Estonia
              </option>

              <option value="FI">
                Finland
              </option>

              <option value="FR">
                France
              </option>

              <option value="DE">
                Germany
              </option>

              <option value="GR">
                Greece
              </option>

              <option value="HK">
                Hong Kong
              </option>

              <option value="HU">
                Hungary
              </option>

              <option value="IE">
                Ireland (Republic of)
              </option>

              <option value="IT">
                Italy
              </option>

              <option value="KR">
                Korea, Republic of
              </option>

              <option value="LV">
                Latvia
              </option>

              <option value="LT">
                Lithuania
              </option>

              <option value="LU">
                Luxembourg
              </option>

              <option value="MY">
                Malaysia
              </option>

              <option value="MT">
                Malta
              </option>

              <option value="NL">
                Netherlands
              </option>

              <option value="NZ">
                New Zealand
              </option>

              <option value="NO">
                Norway
              </option>

              <option value="PH">
                Philippines
              </option>

              <option value="PL">
                Poland
              </option>

              <option value="PT">
                Portugal
              </option>

              <option value="QA">
                Qatar
              </option>

              <option value="SG">
                Singapore
              </option>

              <option value="SK">
                Slovakia
              </option>

              <option value="SI">
                Slovenia
              </option>

              <option value="ZA">
                South Africa
              </option>

              <option value="ES">
                Spain
              </option>

              <option value="SE">
                Sweden
              </option>

              <option value="CH">
                Switzerland
              </option>

              <option value="AE">
                United Arab Emirates
              </option>

              <option value="US">
                United States
              </option>

            </select>

            <button id="landingOverlayChangeCountryButton" type="submit" class="grey-btn submit">
              Go
            </button>

          </div>
        </div>

        <img src="https://johnlewis.scene7.com/is/image/JohnLewis/grey-map?fmt=png" class="grey-map" width="327" height="178" alt="Map of the world" aria-hidden="true">

      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
