.select-department, #getLabelWidth {
    display: none;
}

body.header-banner {
    background-image: none;
}

.header-banner #body-bg {
    background: url(/static/img/header-bck-banner.gif) repeat-x;
    width: 100%;
    position: relative;
}

.header-banner #banner {
    height: 134px;
}

.header-banner #jl-header {
    height: 224px;
}

.header-banner .carousel-header-holder {
    height: 367px;
}

    .header-banner .carousel-header-holder .carousel-header-container {
        top: 183px;
    }

.header-banner ul.my-account {
    background-image: url(/static/img/bg-my-account-banner.gif);
}

    .header-banner ul.my-account li {
        line-height: 32px;
    }

        .header-banner ul.my-account li.first {
            background-image: url(/static/img/bg-my-account-banner.gif);
        }

.header-banner .main-logo {
    margin-top: 17px;
}

    .header-banner .main-logo img {
        height: 53px;
    }

.header-banner .nn-main-nav .nn-first .separator {
    display: none;
}

.header-banner .nn-main-nav-wrap:before, .header-banner .nn-main-nav-wrap:after {
    display: none;
}

.header-banner .nn-main-nav-wrap {
    border-bottom: 0;
    background: 0;
}

.header-banner #banner .header-block, .header-banner #banner .header-cms-block {
    top: 57px;
    right: 0;
}

.header-banner #basket-wrapper .mini-basket {
    top: 92px;
    border-right: 1px solid #006e2c;
    height: 44px;
}

.header-banner #basket-wrapper.empty .mini-basket {
    border-color: #bebdb8;
}

    .header-banner #basket-wrapper.empty .mini-basket.saveForLaterClass {
        border-color: #006e2c;
    }

.header-banner #basket-wrapper #mini-basket-dropdown {
    top: 144px;
    border-color: #006e2c;
    z-index: 202;
}

.header-banner #basket-wrapper .mini-basket .checkout-link {
    background-image: url(/static/img/checkout-btn-banner.gif);
}

.header-banner #basket-wrapper.open .mini-basket {
    box-shadow: 3px 0 #e3e3e3;
}

    .header-banner #basket-wrapper.open .mini-basket:before {
        top: 42px;
        border-color: #006e2c;
    }

    .header-banner #basket-wrapper.open .mini-basket:after {
        top: 42px;
        width: 257px;
        border-color: #006e2c;
    }

.header-banner #wrapper #basket-wrapper .loading-small {
    background: url('/static/img/loader-small.gif') 12px 14px no-repeat #fff;
}

.header-banner #basket-wrapper.empty .mini-basket ul li.checkout-li div {
    height: 44px;
    background-image: url(/static/img/checkout-btn-banner-inactive.gif);
}

.header-banner #basket-wrapper .mini-basket ul li.checkout-li a.checkout-link {
    height: 42px;
}

    .header-banner #basket-wrapper .mini-basket ul li.checkout-li a.checkout-link:hover {
        background-position: 0 -44px;
    }

    .header-banner #basket-wrapper .mini-basket ul li.checkout-li a.checkout-link:focus {
        background-position: 0 -88px;
    }

.header-banner #basket-wrapper .mini-basket ul li.basket-info {
    width: 170px;
    height: 42px;
    border-color: #006e2c;
}

.header-banner #basket-wrapper.empty .mini-basket.saveForLaterClass ul li.basket-info {
    border-color: #006e2c;
}

.header-banner #basket-wrapper.empty .mini-basket ul li.basket-info {
    border-color: #bebdb8;
}

.header-banner #basket-wrapper .mini-basket ul li.basket-info a.basket-switcher {
    padding: 14px 0 12px 40px;
    background-image: url(/static/img/mini-basket-banner-active.gif);
    background-position: 8px 14px;
}

.header-banner #basket-wrapper.empty .mini-basket ul li.basket-info div {
    padding: 14px 0 12px 40px;
    background-image: url(/static/img/mini-basket-banner-inactive.gif);
    background-position: 8px 14px;
}

.header-banner .search {
    top: 92px;
    left: 16px;
}

    .header-banner .search .search-inner-wrap {
        height: 42px;
        width: 687px;
    }

.header-banner #search-clear-btn {
    z-index: 2;
    right: 44px;
    width: 42px;
    height: 42px;
    background-image: url(/static/img/ios-cross-banner.png);
    background-size: 16px;
}

.header-banner .search .search-inner-wrap input#search-keywords {
    width: 472px;
    padding: 14px 12px 13px 12px;
    z-index: 1;
    position: relative;
    margin: 0;
    color: #c7c5bd;
    border-radius: 0;
    border: 0;
}

.ie8 .header-banner .search .search-inner-wrap input#search-keywords {
    padding-bottom: 13px;
}

.header-banner .search .search-inner-wrap .select-department {
    display: block;
    width: 145px;
    float: left;
    z-index: 2;
    position: relative;
    background: 0;
    cursor: pointer;
    overflow: hidden;
    background: url(/static/img/dropdown-arrows-banner.png) right center no-repeat;
    border-right: 1px solid #bebdb8;
}

    .header-banner .search .search-inner-wrap .select-department select.department {
        border-radius: 0;
        border: 0;
        height: 42px;
        background: 0;
        padding: 12px 14px;
        cursor: pointer;
        -webkit-appearance: none;
    }

        .header-banner .search .search-inner-wrap .select-department select.department::-ms-value {
            background: 0;
            color: #42413d;
        }

        .header-banner .search .search-inner-wrap .select-department select.department:focus {
            outline: 0;
            border: 0;
        }

.ie8 .header-banner .search .search-inner-wrap .select-department select.department {
    padding: 1em 10px;
    line-height: 0;
    vertical-align: middle;
}

.header-banner .search .search-inner-wrap .select-department select.department:focus {
    outline: 0;
}

.header-banner .search .search-inner-wrap select.department option p.audible {
    display: none;
}

.header-banner .search .search-inner-wrap span#getLabelWidth {
    display: none;
}

.header-banner .search.active .search-inner-wrap, .header-banner .search.active .search-inner-wrap input#search-keywords, .header-banner .search.active .search-inner-wrap .select-department, .header-banner .search.active .search-inner-wrap input.search-button {
    border-color: #1c6e22;
    background-color: #edf7ec;
    color: #5f5f5f;
}

.header-banner .search .search-inner-wrap input.search-button {
    background: url(/static/img/search-icon-banner.gif) top left no-repeat;
    text-indent: -999em;
    position: absolute;
    right: 0;
    width: 45px;
    height: 42px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-left: 1px solid #bebdb8;
}

    .header-banner .search .search-inner-wrap input.search-button:hover, .header-banner .search .search-inner-wrap input.search-button:focus {
        background-position: 0 -42px;
    }

.header-banner .search .search-results-preview {
    width: 496px;
    top: 43px;
    left: 146px;
    background: #fff;
    border-top: 0;
    padding: 0;
}

    .header-banner .search .search-results-preview h2 {
        padding: 12px 12px 10px 12px;
        background: #f2f1ed;
        margin: 0;
        font-weight: bold;
        color: #727272;
    }

    .header-banner .search .search-results-preview a h2 {
        background: 0;
    }

    .header-banner .search .search-results-preview ol li h2 {
        padding: 3px 0;
    }

    .header-banner .search .search-results-preview ol li {
        line-height: 29px;
        font-weight: normal;
        width: auto;
        float: none;
    }

        .header-banner .search .search-results-preview ol li:hover {
            background: #f2f1ed;
        }

    .header-banner .search .search-results-preview .clear-all, .header-banner .search .search-results-preview .see-more {
        border: 0;
        position: absolute;
        top: 4px;
        right: 10px;
        background: 0;
        font-size: 12px;
        font-weight: normal;
    }

    .header-banner .search .search-results-preview .see-more {
        padding: 0;
    }

    .header-banner .search .search-results-preview .clear-all a {
        padding: 0 16px 0 0;
        background-position: right center;
        background-image: url(/static/img/searchbar-close.png);
    }

.header-banner .search .clear-all a:hover, .header-banner .search .clear-all a:focus, .header-banner .search .see-more a:hover, .header-banner .search .see-more a:focus {
    background-color: transparent;
}

.header-banner .search .product-codes li {
    background: 0;
    border-bottom: 1px solid #f1f1f1;
}

.header-banner .search .product-codes a {
    padding-bottom: 35px;
}

.header-banner .search .product-codes div {
    max-height: 44px;
    margin-left: 80px;
}

    .header-banner .search .product-codes div p, .header-banner .search .product-codes div h2 {
        line-height: 1.6;
    }

.header-banner .search .product-codes .see-more a {
    font-weight: normal;
    font-size: 12px;
}

.header-banner .search .search-results-preview li img {
    max-height: 60px;
}

.jl-ipad .header-banner .search .search-results-preview.type-ahead ol {
    max-height: none;
}

.jl-ipad .header-banner.ua-portrait .search .search-results-preview.type-ahead {
    max-height: 500px;
    overflow: scroll;
}

.jl-ipad .header-banner.ua-landscape .search .search-results-preview.type-ahead {
    max-height: 145px;
    overflow: scroll;
}

.header-banner .main-logo.glnl {
    margin-top: 27px;
}

    .header-banner .main-logo.glnl img {
        height: 36px;
    }

.header-banner .search.glnl {
    left: auto;
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
    .header-banner .search .search-inner-wrap input.search-button {
        background-image: url(/static/img/search-icon-banner-retina.gif);
        background-size: 45px 126px;
    }

    .header-banner .search .search-inner-wrap .select-department {
        background-image: url(/static/img/dropdown-arrows-banner-retina.png);
        background-size: 14px 14px;
    }

    .header-banner #basket-wrapper.empty .mini-basket ul li.basket-info div {
        background-image: url(/static/img/mini-basket-banner-inactive-retina.gif);
        background-size: 20px 16px;
    }

    .header-banner #basket-wrapper .mini-basket ul li.basket-info a.basket-switcher {
        background-image: url(/static/img/mini-basket-banner-active-retina.gif);
        background-size: 20px 16px;
    }

    .header-banner #basket-wrapper .mini-basket .checkout-link {
        background-image: url(/static/img/checkout-btn-banner-retina.gif);
        background-size: 89px 132px;
    }

    .header-banner #basket-wrapper.empty .mini-basket ul li.checkout-li div {
        background-image: url(/static/img/checkout-btn-banner-inactive-retina.gif);
        background-size: 89px 44px;
    }

    .header-banner .search .search-results-preview .clear-all a {
        background-image: url(/static/img/searchbar-close-retina.png);
        background-size: 8px 7px;
    }
}

.mod-global-promo {
    display: inline-block;
    border: 1px solid #bfbdb7;
    margin: 18px 0 0 18px;
    float: left;
    overflow: hidden;
}

.js .mod-global-promo {
    height: 183px;
}

.js .global-promo-carousel {
    margin: 0 0 10px 30px;
    width: 896px;
    height: 139px;
}

.set-visible .mod-global-promo {
    overflow: visible;
}

.global-promo-alt-1 .promo-list {
    margin: 0 0 0 20px;
}

.global-promo-alt-2 .global-promo-carousel {
    width: 450px;
    margin: 0 0 0 9px;
}

.global-promo-alt-3 .global-promo-carousel {
    width: 288px;
    margin: 0 0 0 9px;
}

.promo-head {
    overflow: hidden;
    position: relative;
}

    .promo-head a {
        display: none;
        width: 21px;
        height: 21px;
        text-indent: -9999px;
        position: absolute;
        top: 7px;
        right: 9px;
    }

        .promo-head a.helper-class {
            display: none;
        }

    .promo-head .expand-items {
        background: url('/static/img/expand-btn.gif') no-repeat 0 0;
    }

    .promo-head .shrink-items {
        background: url('/static/img/minus-icon.gif') no-repeat 1px 1px;
    }

    .promo-head h4 {
        color: #727270;
        float: left;
        padding: 10px;
    }

    .promo-head.promo-expand h4:hover, .promo-head.pointer h4:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .promo-head h4 a {
        color: #727270;
        display: block;
        text-decoration: none;
        padding: 10px;
    }

.promo-expand .expand-items, .promo-expand .shrink-items {
    display: block;
}

.promo-head .clear-all {
    background: url('/static/img/clear-all.gif') no-repeat 0 50%;
    color: #5f5f5f;
    cursor: pointer;
    height: auto;
    display: block;
    float: left;
    margin: 10px 0 0;
    padding: 0 0 0 10px;
    position: static;
    text-indent: 0;
    text-decoration: none;
    width: auto;
}

    .promo-head .clear-all:hover {
        text-decoration: underline;
    }

.promo-head.promo-expand .clear-all {
    display: none;
}

.list-expnd .promo-head.promo-expand .clear-all {
    display: block;
}

.global-promo-alt-1 {
    background: #fff;
    position: relative;
    width: 958px;
}

.global-promo-alt-2 {
    background: #fff;
    width: 469px;
}

    .global-promo-alt-2.list-expnd .promo-list {
        margin-left: 0;
        margin-top: -4px;
    }

    .global-promo-alt-2 .promo-list li.promo-item, .global-promo-alt-2 .promo-list a {
        width: 149px;
    }

.mod-global-promo.global-promo-alt-2 .promo-empty {
    width: 450px;
}

.global-promo-alt-3 {
    background: #fff;
    width: 306px;
}

    .global-promo-alt-3.list-expnd .promo-list {
        margin: -4px 0 0 20px;
    }

    .global-promo-alt-2 .promo-list, .global-promo-alt-3 .promo-list {
        margin: 6px 0 0;
    }

.mod-global-promo.global-promo-alt-3 .promo-empty {
    width: 288px;
}

.global-promo-alt-1 .promo-list li.promo-item, .global-promo-alt-1 .promo-list a, .global-promo-alt-3 .promo-list a {
    width: 142px;
}

.global-promo-alt-2.list-expnd .promo-empty, .global-promo-alt-3.list-expnd .promo-empty {
    width: 860px;
}

.list-expnd .global-promo-carousel {
    width: 896px;
    margin-left: 20px;
}

.list-expnd .glob-crsl-wrap {
    background: #fff;
    border: 1px solid #ccc;
    left: 18px;
    margin: -1px 0;
    padding: 10px 10px 0;
    position: absolute;
    width: 938px;
    z-index: 100;
}

.prominent {
    background: #FFF;
    height: 34px;
    position: relative;
    z-index: 200;
}

.mod-global-promo .promo-list, .mod-global-promo.list-expnd .promo-list {
    position: relative;
    display: inline-block;
}

    .mod-global-promo .promo-list li {
        list-style-type: none;
    }

        .mod-global-promo .promo-list li.promo-item {
            position: relative;
            background: 0;
            padding: 0 0 5px 0;
            float: left;
        }

    .mod-global-promo .promo-list a {
        text-decoration: none;
        position: relative;
        display: block;
    }

.promo-list li img {
    padding: 5px 25px 5px 25px;
}

.mod-global-promo a.product-wrapper {
    border: 1px solid transparent;
    height: 132px;
}

.mod-global-promo .promo-item:hover .product-wrapper {
    border: 1px solid #5f5f5f;
}

.mod-global-promo .promo-empty {
    background: 0;
    display: none;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 58px 0 0;
    text-align: center;
    width: 857px;
}

.mod-global-promo a.btn-prev, .mod-global-promo a.btn-next {
    text-indent: -9999px;
    position: absolute;
    z-index: 200;
    display: block;
    height: 89px;
    top: 57px;
    width: 21px;
}

.mod-global-promo a.btn-prev {
    background: url("/static/img/btn-prev.gif") no-repeat -20px 0;
    left: 9px;
}

.mod-global-promo a.btn-next {
    background: url("/static/img/btn-next.gif") no-repeat -20px 0;
    right: 11px;
}

.mod-global-promo.list-expnd a.btn-prev {
    top: 85px;
    left: 28px;
}

.mod-global-promo.list-expnd a.btn-next {
    top: 85px;
    right: 30px;
}

.mod-global-promo a:hover.btn-next, .mod-global-promo a:hover.btn-prev {
    background-position: -41px 0;
}

.mod-global-promo a.disabled, .mod-global-promo a:hover.disabled {
    background-position: 0 0;
    cursor: default;
}

.global-promo-alt-2 a.btn-prev, .global-promo-alt-3 a.btn-prev, .global-promo-alt-2 a.btn-next, .global-promo-alt-3 a.btn-next {
    display: none;
}

.promo-list li a.rmv-item {
    background: url('/static/img/sprite-ios-cross.png') no-repeat 0 0;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    height: 14px;
    width: 14px;
    top: 5px;
    right: 5px;
    border: 0;
}

.mod-global-promo .promo-list li.promo-item:hover .rmv-item {
    background-position: 0 -28px;
}

.jl-ipad .promo-list li a.rmv-item {
    background-position: 5px 5px;
    height: 24px;
    right: 0;
    top: 0;
    width: 24px;
}

.jl-ipad .mod-global-promo .promo-list li.promo-item:hover .rmv-item {
    background-position: 5px -23px;
}

.promo-list li a.rmv-item .ctm-tooltip {
    display: none;
}

.promo-list li a.rmv-item:hover .ctm-tooltip {
    display: block;
}

.ctm-tooltip {
    display: block;
    position: absolute;
}

    .ctm-tooltip.left {
        background: url('/static/img/sprite-ctm-tooltip-left.png') no-repeat 100% -21px;
        padding: 0 7px 0 0;
        right: 16px;
        top: -1px;
    }

    .ctm-tooltip .inner {
        color: #5f5f5f;
        display: block;
        font-size: 11px;
        font-weight: bold;
        padding: 2px 7px 6px;
    }

    .ctm-tooltip.left .inner {
        background: url('/static/img/sprite-ctm-tooltip-left.png') no-repeat 0 0;
    }

.promo-list a.promo-view-all {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #9c9c9b;
    font-size: 11px;
    text-align: right;
    width: auto;
}

.promo-list .promo-view-all:hover {
    text-decoration: underline;
}

.glob-promo-shadow {
    background: #e3e3e2;
    height: 5px;
    margin: 0 22px;
    bottom: 91px;
    position: absolute;
    width: 953px;
    left: 0;
}

.promo-list li .inline-ratings img {
    padding: 0;
    margin: 0;
}

.global-promo-carousel .inline-ratings {
    margin-bottom: 10px;
}

    .global-promo-carousel .inline-ratings a {
        width: 158px;
    }

.popupArrow {
    background: url('/static/img/popupPointer.png') transparent no-repeat top center;
    display: block;
    height: 10px;
    left: 81px;
    position: absolute;
    top: -5px;
    width: 13px;
}

.popup {
    -moz-box-shadow: 3px 3px #e3e3e2;
    -webkit-box-shadow: 3px 3px #e3e3e2;
    box-shadow: 3px 3px #e3e3e2;
    position: absolute;
    display: none;
    background: white;
    line-height: 1.2;
    padding: 9px 16px;
    border: 1px solid #bebeb7;
    width: 142px;
}

.popup-display {
    display: block;
}

.disable-popup .popup-display {
    display: none;
}

.popup h3 a:link, .popup h3 a:visited {
    text-decoration: underline;
}

.popup .price {
    color: #393939;
    margin: 10px 0 5px;
}

.popup .special-offer {
    color: #900;
    font-size: 12px;
}

.popup li {
    color: #5f5f5f;
    padding-left: 14px;
    background: url("/static/img/bckg-default-bullet.gif") no-repeat scroll 2px 6px transparent;
    margin-top: 4px;
}

    .popup li:first-child {
        margin-top: 0;
    }

.global-promo-alt-1 .popup {
    left: -15px;
    top: 142px;
}

.global-promo-alt-2 .popup {
    left: -14px;
    top: 142px;
}

.global-promo-alt-3 .popup {
    left: -17px;
    top: 142px;
}

.no-js .promo-list li a.rmv-item, .no-js .mod-global-promo a.btn-prev, .no-js .mod-global-promo a.btn-next {
    display: block;
}

.no-js .mod-global-promo {
    display: inline-block;
}

    .no-js .mod-global-promo ul {
        border: 1px solid #ccc;
        width: 896px;
        margin: 0 0 7px 0;
        padding: 10px 10px 10px 30px;
    }

.no-js .global-promo-carousel {
    margin: 0 0 0 10px;
    padding: 0;
}

.no-js .global-promo-like, .no-js .mod-global-promo .expand-items, .no-js .mod-global-promo .item-info {
    display: none;
}

.no-js .global-promo-alt-1, .no-js .global-promo-alt-2, .no-js .global-promo-alt-3 {
    width: 958px;
    background: 0;
}

.no-js .promo-list li.promo-item, .no-js .promo-list a {
    width: 142px;
}

.ie8 .glob-promo-shadow {
    background: #e3e3e2;
}

.ie8 .mod-global-promo .promo-list a, .ie8 .mod-global-promo .promo-list .popup, .ie8 .mod-global-promo .promo-list .item-info {
    filter: inherit;
}

.ie7 .glob-promo-shadow {
    height: 3px;
}

.ie7 .global-promo-carousel {
    position: relative;
}

.ie7 .list-expnd .global-promo-carousel {
    margin-left: 18px;
    left: 0;
}

.first.lt-nav {
    padding: 8px 6px 9px 0;
}

.side-facets, .lt-nav {
    padding-top: 8px;
    z-index: 2;
}

    .side-facets > *, .lt-nav > * {
        padding: 0 10px;
    }

.lt-nav {
    padding: 8px 0 9px 6px;
}

.left-nav-widget-default {
    padding: 0;
}

.side-facets .hidden-section {
    display: none;
}

.side-facets .hidden-section-submit {
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.side-facets header, .lt-nav header {
    border-bottom: 1px solid #dedbd2;
    display: inline-block;
    float: left;
    margin: 0;
    padding-bottom: 8px;
    width: 100%;
}

.side-facets .header-refine-by {
    border: 0;
}

    .side-facets .header-refine-by h2 {
        margin-top: 5px;
    }

.js .side-facets .header-facet-tabs {
    border: 0;
}

.side-facets h2, .lt-nav h2 {
    float: left;
    max-width: 140px;
}

.facet-container, .lt-nav-container {
    margin-bottom: 9px;
}

    .side-facets .facet-container ul, .lt-nav-container ul {
        float: left;
        margin: 8px 0 0;
        width: 157px;
    }

.ipad .facet-without-tabs, .android .facet-without-tabs {
    border-bottom: 1px solid #dedbd2;
    max-height: 269px;
}

.side-facets .facet-container li, .lt-nav-container li {
    background: 0;
    padding: 5px 0 0;
    line-height: 16px;
    list-style-type: none;
}

.facet-container-links li, .lt-nav-container-links li {
    padding: 8px 0 0;
}

.facet-container .expand-wrapper li {
    clear: both;
    float: left;
    width: 100%;
}

.ipad .facet-container .expand-wrapper li, .android .facet-container .expand-wrapper li {
    padding-bottom: 5px;
}

.facet-container .expand-wrapper .beta li {
    width: 140px;
}

.facet-container li a {
    margin: 2px 0 1px;
    text-align: left;
    word-break: break-word;
}

.ie7 .facet-container li a {
    margin-top: 0;
}

.side-facets .facet-container li.first, .side-facets .facet-container li.single-selected, .lt-nav-container li.first, .side-facets .facet-container li:first-child, .lt-nav-container li:first-child {
    padding: 0;
}

#side-facets .facet-container.facet-colour li:first-child {
    padding: 7px 0 0 7px;
}

.facet-container li a:link, .facet-container li a:visited, .lt-nav-container li a:link, .lt-nav-container li a:visited {
    color: #5f5f5f;
    display: inline-block;
    outline: 0;
    text-decoration: none;
}

.facet-container li a:hover, .facet-container li a:active, .facet-container li label:hover, .lt-nav-container li a:hover, .lt-nav-container li a:active, .lt-nav-container li label:hover {
    text-decoration: underline;
}

.facet-container li.selected a:link, .facet-container li.selected a:visited {
    color: #393939;
    cursor: default;
}

.facet-container li.selected a:hover, .facet-container li.selected a:active {
    text-decoration: none;
}

.side-facets .expand-wrapper {
    float: left;
    position: relative;
    width: 100%;
}

.side-facets .expand-lnk {
    float: right;
    height: 14px;
    text-indent: -9999px;
    width: 14px;
}

.side-facets .clear-all-lnk {
    float: right;
    border: 1px solid #333;
    padding: 5px 10px;
    text-decoration: none;
}

.side-facets .clear-all-lnk-disabled {
    color: #bbb;
    cursor: default;
    float: right;
    border: 1px solid #dedbd2;
    padding: 5px 10px;
    text-decoration: none;
}

.side-facets .expand-more {
    background: url(/static/img/plus-icon-sml.gif) no-repeat 0 0;
}

.side-facets .expand-less {
    background: url(/static/img/minus-icon-sml.gif) no-repeat 0 0;
}

.side-facets .content h3 {
    height: 0;
    margin: 0;
    text-indent: -9999px;
    line-height: 0;
}

.side-facets .tabs {
    border-bottom: 1px solid #bfbdb7;
    float: left;
    margin-top: 0;
    width: 100%;
}

    .side-facets .tabs a {
        background: #fff;
        border: 1px solid #dedbd2;
        border-bottom: 0;
        color: #393939;
        display: block;
        font-size: 11px;
        font-weight: normal;
        margin-bottom: 0;
        padding: 3px 0;
        text-align: center;
        text-decoration: none;
        width: 75px;
        z-index: 1;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }

    .side-facets .tabs li, .ipad .side-facets .tabs li, .android .side-facets .tabs li {
        clear: none;
        line-height: 14px;
        padding: 0;
        width: auto;
    }

    .side-facets .tabs .beta {
        float: right;
    }

.side-facets .content {
    float: left;
    width: 100%;
}

.side-facets .search-box {
    padding-top: 10px;
    position: relative;
}

    .side-facets .search-box input {
        width: 133px;
        padding-right: 20px;
        border: 1px solid #dedbd2;
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 2px;
    }

.android .side-facets .search-box input, .ipad .side-facets .search-box input {
    width: 130px;
    height: 30px;
    line-height: 28px;
    padding-left: 5px;
}

.side-facets .search-box input.hintText {
    color: #b5b5b5;
}

.side-facets .search-box input:focus {
    background-color: #ecf7ed;
}

.side-facets .search-box .btn-reset {
    height: 20px;
    width: 20px;
    background: url(/static/img/active-brand-close.png) no-repeat 50% 50% transparent;
    position: absolute;
    top: 11px;
    right: 0;
    text-indent: -9999px;
    font-size: 1px;
    line-height: 1px;
}

.android .side-facets .search-box .btn-reset, .ipad .side-facets .search-box .btn-reset {
    top: 18px;
    right: 4px;
}

.ie7 .side-facets .search-box .btn-reset {
    top: 12px;
}

.ie7 .side-facets .search-box .no-results {
    position: relative;
}

.side-facets .beta ul {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.side-facets .beta .no-results {
    margin-top: 10px;
}

.js .side-facets .content {
    display: none;
}

.side-facets .tabs .selected {
    position: relative;
    margin-bottom: -1px;
}

    .side-facets .tabs .selected a {
        border-color: #bfbdb7;
        padding-bottom: 4px;
    }

.js .side-facets .content-selected {
    display: block;
}

.no-js .side-facets .tabs, .no-js .side-facets .search-box, .no-js .side-facets .alpha {
    display: none;
}

.no-js .facet-container .content ul {
    height: 250px;
}

    .no-js .facet-container .content ul.size-list {
        height: 135px;
    }

.facet-container .beta label {
    width: 110px;
}

.facet-container li.single-selected, .ipad .facet-container li.single-selected {
    border: 1px solid #dedbd2;
    margin: 0 1px;
    overflow: hidden;
    padding: 0 4px 0 9px;
    width: 140px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

    .facet-container li.single-selected span {
        display: inline-block;
        line-height: 14px;
        padding: 5px 0 4px;
        float: left;
        width: 120px;
    }

.filter-by.mod {
    margin: 19px 0 2px;
}

.facet-bread-box .split-facet {
    background: url("/static/img/split.gif") repeat-x 0 0 #fff;
    height: 12px;
    margin: 0 -11px;
}

.facet-bread-box .facet-selection {
    display: inline-block;
}

    .facet-bread-box .facet-selection.last {
        padding-bottom: 6px;
    }

.side-facets .facet-bread-box .header-refine-by {
    border-bottom: 1px solid #dedbd2;
}

.side-facets .facet-bread-box header {
    padding-bottom: 6px;
}

.facet-bread-box .facet-container li a.clear-selection {
    background: url(/static/img/clear-bread-box-selection.gif) no-repeat 0 0 #fff;
    float: left;
    height: auto;
    min-height: 15px;
    min-width: 135px;
    text-indent: 0;
    margin: 4px 5px 4px 0;
    width: auto;
    padding-left: 23px;
}

.facet-bread-box .facet-container li.single-selected {
    border: 0;
    margin: 0;
    padding: 0;
}

    .facet-bread-box .facet-container li.single-selected span.selection-info {
        width: 119px;
        padding-bottom: 0;
    }

.ipad .facet-bread-box .facet-container li.single-selected span.selection-info, .android .facet-bread-box .facet-container li.single-selected span.selection-info {
    padding-bottom: 5px;
}

.facet-bread-box .facet-container li.single-selected span .review-star {
    float: none;
    padding: 0;
    width: 16px;
}

.facet-bread-box .facet-container li.single-selected span .review-info {
    float: none;
    display: inline;
}

.facet-bread-box h3 {
    margin: 18px 0 -7px;
    display: inline-block;
}

.facet-bread-box .facet-container ul {
    margin-top: 2px;
}

.facet-container li a.clear-selection {
    background: url(/static/img/clear-selection.gif) no-repeat 0 0 #fff;
    display: inline-block;
    float: right;
    margin: 4px 0;
    height: 15px;
    text-indent: -9999px;
    width: 16px;
}

.facet-bread-box .facet-container li a.clear-selection span {
    padding-top: 1px;
}

    .facet-bread-box .facet-container li a.clear-selection span:hover {
        text-decoration: underline;
    }

.facet-container .size-list li, .facet-container .beta .size-list li {
    clear: none;
    float: left;
    width: 49%;
}

.facet-container .facet-without-tabs.size-list li {
    clear: initial;
    float: initial;
    width: 48%;
    display: inline-block;
}

.facet-container .beta .size-list li {
    width: 69px;
}

.facet-container .size-list li a {
    width: 47px;
}

.facet-colour ul, .side-facets .facet-container.facet-colour ul {
    margin-left: -7px;
    margin-top: 3px;
    width: 164px;
}

.facet-colour .expand-wrapper li {
    background: #fff;
    clear: none;
    padding: 7px 0 0 7px;
    width: auto;
}

.facet-colour li img {
    padding: 4px;
}

.facet-colour li a {
    border: 1px solid #dedbd2;
    cursor: pointer;
    display: block;
    float: left;
    line-height: 0;
    margin: 0;
    width: auto;
}

    .facet-colour li a:hover, .facet-colour li.selected a {
        border-color: #27853f;
        text-decoration: none;
    }

    .facet-colour li a:hover {
        position: relative;
    }

.facet-colour li.selected img {
    padding: 3px;
}

.facet-colour li.selected a {
    border-width: 2px;
}

.facet-colour .tooltip-trigger .tooltip {
    left: 40px;
    top: 0;
    width: 90px;
}

.facet-colour .selected .tooltip {
    left: 39px;
    top: -1px;
}

.facet-colour .expand-wrapper .tabs {
    margin: 0;
}

    .facet-colour .expand-wrapper .tabs li {
        float: left;
        padding: 0;
    }

    .facet-colour .expand-wrapper .tabs .beta {
        float: right;
    }

    .facet-colour .expand-wrapper .tabs a {
        padding: 3px 0;
        display: block;
        border-width: 1px 1px medium;
        float: none;
        line-height: 14px;
    }

.side-facets .facet-colour .beta ul {
    overflow: visible;
}

.facet-colour .expand-wrapper .tabs .selected a {
    padding-bottom: 4px;
}

.facet-colour .expand-wrapper .beta li {
    width: auto;
}

.facet-colour .tabs li a:hover {
    border-color: #dedbd2;
    text-decoration: underline;
}

.facet-colour .tabs li.selected a:hover {
    border-color: #bfbdb7;
    text-decoration: none;
}

#facet-price .price-range-holder, .facet-price .price-range-holder {
    margin: 20px 0 13px;
    display: inline-block;
}

    #facet-price .price-range-holder label, .facet-price .price-range-holder label {
        margin: 0 0 8px;
        display: block;
        width: 100%;
        text-align: left;
    }

    #facet-price .price-range-holder input[type="text"], #facet-price .price-range-holder input[type="number"], .facet-price .price-range-holder input[type="text"], .facet-price .price-range-holder input[type="number"] {
        border: 1px solid #dedbd2;
        width: 58px;
        height: auto;
        padding: 3px;
        float: left;
        color: #a8a8a8;
    }

.ipad #facet-price .price-range-holder input[type="text"], .ipad #facet-price .price-range-holder input[type="number"], .android #facet-price .price-range-holder input[type="text"], .android #facet-price .price-range-holder input[type="number"], .ipad .facet-price .price-range-holder input[type="text"], .ipad .facet-price .price-range-holder input[type="number"], .android .facet-price .price-range-holder input[type="text"], .android .facet-price .price-range-holder input[type="number"] {
    height: 30px;
    line-height: 28px;
    padding: 0 3px;
}

#facet-price .price-range-holder input[type="text"]:focus, #facet-price .price-range-holder input[type="number"]:focus, .facet-price .price-range-holder input[type="text"]:focus, .facet-price .price-range-holder input[type="number"]:focus {
    color: #5f5f5f;
}

#facet-price .price-range-holder span, .facet-price .price-range-holder span {
    float: left;
    margin: 5px 7px 0;
}

.ipad #facet-price .price-range-holder span, .android #facet-price .price-range-holder span, .ipad .facet-price .price-range-holder span, .android .facet-price .price-range-holder span {
    margin-top: 11px;
}

#facet-price .price-range-holder input.button, .facet-price .price-range-holder input.button {
    margin: 0;
}

#facet-averagerating .review-star, .facet-averagerating .review-star, .facet-bread-box .review-star {
    background: #fff url(/static/img/review-star.gif) no-repeat 0 0;
    width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 2px;
}

#facet-averagerating .review-info, .facet-averagerating .review-info, .facet-bread-box .review-info {
    margin: 0 5px 0 2px;
}

#facet-averagerating a {
    display: inline-block;
}

    #facet-averagerating a.custom-chkbox:hover {
        text-decoration: none;
    }

#facet-averagerating img {
    width: 74px;
    height: 12px;
    margin-right: 2px;
}

#facet-averagerating li {
    padding-left: 3px;
    padding-bottom: 3px;
}

    #facet-averagerating li.single-selected {
        padding: 0 4px 0 2px;
        margin: 0;
        width: 150px;
    }

    #facet-averagerating li span {
        width: auto;
    }

    #facet-averagerating li.single-selected span.clear-selection {
        background: url(/static/img/clear-selection.gif) no-repeat 0 0 #fff;
        display: inline-block;
        height: 15px;
        float: right;
        margin: 5px 0;
        text-indent: -9999px;
        width: 16px;
        cursor: pointer;
    }

    #facet-averagerating li.single-selected img {
        padding-top: 5px;
        float: left;
    }

    #facet-averagerating li.no-ratings {
        color: #bdbdbd;
    }

.facet-without-tabs {
    max-height: 245px;
    overflow-x: hidden !important;
    overflow-y: auto;
}

    .facet-without-tabs li:first-child {
        padding-top: 5px;
    }

#facet-price #price-range-holder span, .facet-price .price-range-holder span {
    margin-right: 4px;
}

    #facet-price #price-range-holder span.currency, .facet-price .price-range-holder span.currency {
        margin-left: 0;
    }

#facet-price #price-range-holder input[type="text"], #facet-price #price-range-holder input[type="number"], .facet-price .price-range-holder input[type="text"], .facet-price .price-range-holder input[type="number"] {
    width: 46px;
}

.tooltip-trigger .tooltip.delivery {
    width: 340px;
}

    .tooltip-trigger .tooltip.delivery ul {
        float: none;
        margin: 0;
        width: auto;
    }

@viewport {
    zoom: 1.0;
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

.header-section .back-link {
    float: none;
}

.back-link, .back-to-order {
    text-decoration: underline;
    position: relative;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 47px;
    float: left;
}

    .back-link:visited {
        text-decoration: underline;
    }

    .back-link:before {
        content: "<";
        padding-right: 5px;
        text-decoration: none;
        display: block;
        float: left;
        height: 16px;
        overflow: hidden;
    }

#content .mjl-singup .back-link:hover {
    text-decoration: none;
}

#content .mjl-singup .back-link:active, #content .mjl-singup .back-link:focus {
    font-weight: normal;
}

.auth-tooltip.val-tooltip {
    border: 1px solid #a8a8a8;
    color: #5f5f5f;
    display: none;
    position: absolute;
    text-align: left;
    top: -22px;
    font-size: 13px;
    line-height: 16px;
    z-index: 5;
    margin-left: 2px;
}

    .auth-tooltip.val-tooltip:after {
        content: '';
        position: absolute;
        z-index: -1;
        right: -4px;
        bottom: -4px;
        top: 3px;
        left: 3px;
        border: solid #dbdcda;
        border-width: 0 3px 3px 0;
    }

    .auth-tooltip.val-tooltip.visible {
        display: block;
    }

        .auth-tooltip.val-tooltip.visible:after {
            content: ' ';
        }

    .auth-tooltip.val-tooltip .tooltip-inner {
        background: #fff;
        padding: 18px 21px 5px;
        position: relative;
        width: 205px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

        .auth-tooltip.val-tooltip .tooltip-inner:after, .auth-tooltip.val-tooltip .tooltip-inner:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 38px;
            left: -6px;
            border-right: 6px solid #a8a8a8;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
        }

        .auth-tooltip.val-tooltip .tooltip-inner:after {
            z-index: 3;
            border-right-color: #fff;
            left: -5px;
        }

#resetPasswordForm .auth-tooltip.val-tooltip .tooltip-inner:after, #resetPasswordForm .auth-tooltip.val-tooltip .tooltip-inner:before {
    top: 25px;
}

#changePasswordForm .auth-tooltip.val-tooltip .tooltip-inner:after, #changePasswordForm .auth-tooltip.val-tooltip .tooltip-inner:before {
    top: 65px;
}

.auth-tooltip.val-tooltip .title {
    display: block;
    margin: 0 0 18px;
}

.auth-tooltip.val-tooltip .req-msg, #mjl ol.align-middle .auth-tooltip .req-msg {
    margin: 0 0 16px 26px;
    position: relative;
    font-size: 13px;
}

    .auth-tooltip.val-tooltip .req-msg:before, .error .auth-tooltip.val-tooltip.init-state .req-msg.invalid:before, .error input:focus ~ .auth-tooltip.val-tooltip.init-state .req-msg:before, .auth-tooltip.val-tooltip.filled .req-msg.invalid:before {
        background: transparent url('//johnlewis.scene7.com/is/image/JohnLewis/sprite-checkout-master?$alpha$') no-repeat -193px -183px;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 50%;
        left: -25px;
        margin: -8px 0 0;
        content: '';
        opacity: 1;
    }

    .auth-tooltip.val-tooltip.init-state .req-msg:before, .auth-tooltip.val-tooltip .req-msg.invalid:before {
        content: ' ';
        opacity: .3;
        background-position: -193px -166px;
    }

.ie8 .auth-tooltip.val-tooltip.init-state .req-msg:before {
    content: ' ';
    opacity: .3;
    background: transparent url('//johnlewis.scene7.com/is/image/JohnLewis/sprite-checkout-master-opacity-30?$alpha$') no-repeat -193px -166px;
}

.auth-tooltip.val-tooltip .req-msg.valid:before {
    background-position: -193px -166px;
    content: '  ';
}

.auth-tooltip.val-tooltip.init-state .req-msg {
    color: #5f5f5f;
}

.auth-tooltip.val-tooltip.filled .req-msg.invalid {
    color: #a80002;
}

.auth-tooltip.val-tooltip .req-msg.valid {
    color: #076c2b;
}

.auth-tooltip.val-tooltip .note {
    display: block;
    padding: 4px 0 17px;
}

#ssl-reset-your-password.overlay-popin #resetPasswordForm .val-tooltip {
    margin-left: -4px;
}

.new-signin .global-8 {
    width: 66.2650602%;
    padding-top: 30px;
}

.new-signin .global-10 {
    width: 83.1325301%;
}

.new-signin [class|=global]:first-child {
    margin-left: 0;
}

.new-signin[role=main] {
    background-color: #fff;
    border: 1px solid #dedbd2;
    margin: 0 auto;
    max-width: 996px;
    padding: 35px 0 31px;
    width: 98%;
    overflow: auto;
}

.ie7 .new-signin[role=main], .ie8 .new-signin[role=main] {
    width: 996px;
}

.new-signin .boxed {
    background-color: #f3f1ed;
    border: 1px solid #dedbd2;
    padding: 1.75438596%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.new-signin .input-wrapper {
    position: relative;
}

    .new-signin .input-wrapper .reset-btn {
        position: absolute;
        display: none;
        cursor: pointer;
        top: 15px;
        right: 8px;
        margin: 0;
        width: 15px;
        height: 15px;
        background: url("https://johnlewis.scene7.com/is/image/JohnLewis/sprite-checkout-master?$alpha$") no-repeat -209px -116px;
        text-indent: -9999px;
        overflow: hidden;
    }

    .new-signin .input-wrapper input {
        padding-right: 25px;
    }

    .new-signin .input-wrapper .gift-field input {
        padding-right: 0;
    }

.new-signin .filled input:focus ~ .reset-btn.active {
    display: block;
}

.new-signin .js .js-hidden {
    display: none;
}

.new-signin .error .field-error {
    display: block;
}

.new-signin .holder-area > .pwd-toggler {
    float: right;
    font-size: .839em;
    margin: 1px 0 0 5px;
    cursor: pointer;
    text-decoration: underline;
}

    .new-signin .holder-area > .pwd-toggler:hover {
        text-decoration: none;
    }

    .new-signin .holder-area > .pwd-toggler + label {
        clear: none;
    }

.new-signin .green-msg-box * {
    color: #066c2b;
}

.new-signin .green-msg-box p:first-child {
    margin-bottom: 5px;
}

.new-signin .green-msg-box-with-icon {
    padding-left: 61px;
    position: relative;
}

    .new-signin .green-msg-box-with-icon .tip-info-icon {
        position: absolute;
        left: 21px;
        top: 21px;
        background: transparent url('//johnlewis.scene7.com/is/image/JohnLewis/sprite-checkout-master?$alpha$') no-repeat -75px -33px;
        width: 30px;
        height: 30px;
    }

.new-signin .tick-icon-med {
    background: transparent url('//johnlewis.scene7.com/is/image/JohnLewis/sprite-checkout-master?$alpha$') no-repeat -183px -140px;
    width: 26px;
    height: 26px;
    display: block;
    float: left;
    margin-right: 10px;
}

.new-signin .red-msg-box {
    font-size: .800em;
    margin-bottom: 31px;
    color: #a60000;
}

.global-8.pwd-section > .red-msg-box {
    margin: 31px 0 0;
}

.global-8.pwd-section #forgotPasswordForm .red-msg-box {
    margin: 0 0 21px;
}

#new-register-form .red-msg-box {
    margin-top: 0;
    text-align: left;
}

.new-signin .red-msg-box ul, .new-signin .green-msg-box ul {
    list-style-type: square;
    color: #a60000;
    margin: 12px 0 0 2.35690236%;
}

    .new-signin .red-msg-box ul li, .new-signin .green-msg-box ul li {
        margin-bottom: 9px;
        list-style-type: square;
    }

.new-signin .red-msg-box h3 {
    font-weight: bold;
    margin-bottom: 9px;
}

.new-signin .security-msg {
    font-size: .813em;
    text-align: center;
    margin-top: 18px;
}

.no-js #forgotPasswordForm #pass-val-tlp.val-tooltip.reg-pwd.init-state.alt-view.auth-tooltip {
    display: none !important;
}

#content .mjl-singup a:link {
    text-decoration: underline;
}

#content .mjl-singup a:focus {
    text-decoration: none;
    font-weight: bold;
}

#content .mjl-singup .input-wrapper + a.pwd-toggler:focus, #content .mjl-singup a.register-mjl-account:focus, #content .mjl-singup a.no-pwd:focus, #content.new-signin a.data-policy:focus {
    font-weight: normal;
}

#content .mjl-singup form a:hover, #content.new-signin a.data-policy:hover, #content .mjl-singup a.green-btn {
    text-decoration: none;
}

#content.new-signin {
    padding-top: 26px;
    margin-top: 15px;
}

    #content.new-signin.with-breadcrumbs {
        margin-top: 45px;
    }

.new-signin h1 {
    margin-bottom: 22px;
}

.new-signin a {
    text-decoration: underline;
}

    .new-signin a:hover {
        text-decoration: none;
    }

.new-signin .red-msg-box p {
    text-align: left;
}

.new-signin .red-msg-box .error-title {
    display: block;
}

.new-signin .red-msg-box p.centered {
    text-align: center;
    font-weight: normal;
}

.new-signin .fields-holder .red-msg-box {
    padding: 7px 2.5%;
    margin: 10px 0 25px;
    font-weight: normal;
}

.new-signin .fields-holder [type="submit"] + .red-msg-box {
    margin-bottom: 0;
}

.new-signin .fields-holder {
    width: 40%;
    float: left;
    margin: 0;
}

    .new-signin .fields-holder input, .new-signin input.button {
        font-weight: normal;
    }

.new-signin form {
    margin-bottom: 31px;
    font-size: .9375em;
}

.new-signin .input-container {
    margin-bottom: 25px;
}

.new-signin #changePasswordForm .input-container {
    margin-bottom: 20px;
}

.new-signin .input-container.show-pass-container {
    position: relative;
}

    .new-signin .input-container.show-pass-container .pwd-toggler {
        position: absolute;
        right: 0;
        top: 0;
    }

.new-signin #changePasswordForm .input-container .messages {
    margin-top: 2px;
}

.new-signin .signin-info {
    float: left;
    padding: 23px 0 0 30px;
    width: 60%;
}

.new-signin .forgot-password {
    padding: 18px 0 3px;
    margin: 0;
}

.new-signin .error .forgot-password a {
    color: #5f5f5f;
}

.new-signin .main-question {
    margin-bottom: 20px;
    font-weight: bold;
}

.new-signin ul {
    margin: 13px 0 28px;
}

    .new-signin ul li {
        margin: 0;
        line-height: 1.4666em;
    }

.new-signin .button.signin-btn {
    margin: 0;
    padding: 0 31px;
}

.new-signin .field-error {
    display: none;
}

.new-signin .icon-tick {
    color: #076c2b;
    margin-right: 3px;
    font-size: 1.06667em;
}

.new-signin form .messages {
    display: none;
}

    .new-signin form .messages.error {
        display: inline;
    }

.new-signin .green-msg-box h3 {
    font-weight: bold;
    margin-bottom: 12px;
}

.new-signin #forgotPasswordForm .input-container.error .messages {
    display: block;
}

.new-signin #forgotPasswordForm .text-holder + .btn-pmed-cont {
    margin: 30px 0 20px 36px;
}

div.new-register {
    padding-bottom: 30px;
}

.new-register .back-link {
    font-size: .9375em;
    margin-bottom: 50px;
}

.new-signin.new-register .signin-info ul li {
    padding: 0 0 0 24px;
    position: relative;
}

.new-signin.new-register li .icon-tick {
    position: absolute;
    left: 0;
    top: 1px;
}

.new-register label, .new-register input {
    font-size: 1em;
}

.new-signin.new-register .signin-info {
    width: 60%;
}

.new-register .bottom-fields-holder {
    float: left;
    max-width: 633px;
    margin-bottom: 0;
}

.new-register .get-news-container label {
    font-weight: normal;
    display: block;
    overflow: hidden;
    clear: none;
}

.new-register .get-news-container input#get-news-checkbox {
    margin-right: 7px;
}

.new-register .registering-in-progress {
    display: table;
    height: 100%;
    width: 100%;
}

.new-register .registering-in-progress-info {
    display: table-cell;
    vertical-align: middle;
}

    .new-register .registering-in-progress-info p {
        text-align: center;
        font-size: .9375em;
    }

.new-register .spinner-lge, .new-register .register-btn {
    margin-top: 0;
}

.new-register .main-question {
    font-weight: bold;
    margin-right: 5px;
}

.new-register-success .green-btn {
    text-decoration: none;
    margin: 30px 0;
    font-weight: normal;
}

.new-register-success {
    font-size: .9375em;
}

    .new-register-success #my-jl-register-confirm {
        overflow: auto;
        padding: 16px 25px;
    }

        .new-register-success #my-jl-register-confirm .register-jl-info {
            width: 100%;
        }

            .new-register-success #my-jl-register-confirm .register-jl-info img {
                margin: 13px 0;
            }

        .new-register-success #my-jl-register-confirm p {
            width: 450px;
            font-size: 14px;
            padding: 25px 0 10px;
        }

        .new-register-success #my-jl-register-confirm .green-btn {
            margin: 10px 0 15px;
        }

    .new-register-success.with-card .green-btn {
        margin-left: 10px;
    }

    .new-register-success.with-card .green-btn {
        margin-left: 36px;
    }

    .new-register-success.with-card .form-divider.bottom {
        display: none;
    }

.new-signin a.green-btn:hover {
    color: #fff;
}

#content .mjl-singup .green-btn:focus, #content .mjl-singup .green-btn:active {
    color: #fff;
    font-weight: normal;
}

.new-signin.new-register-success#content {
    padding-top: 50px;
}

.new-register .pwd-toggler {
    float: right;
    font-size: .8666em;
    padding-top: 2px;
}

.new-signin .error .pwd-toggler {
    color: #5f5f5f;
}

.new-register .data-policy {
    display: inline-block;
    margin-top: 9px;
}

.new-signin.reset-password .global-8 {
    padding-top: 0;
}

.new-signin.reset-password .info-text {
    padding-top: 21px;
}

.new-signin .pwd-section form {
    margin: 0 0 31px;
    font-size: .938em;
}

.new-signin .pwd-section .fields-holder {
    width: 282px;
    margin: 0;
    float: none;
}

.new-signin .pwd-section .info-title {
    margin-top: 31px;
}

.new-signin .pwd-section .info-text {
    margin-bottom: 20px;
}

.new-signin .pwd-section .btn-pmed-cont.button.reset-btn {
    margin-top: 21px;
    width: 282px;
}

.new-signin .pwd-section .input-container {
    padding-top: 5px;
    margin-bottom: 10px;
    position: relative;
}

.input-container.main-error-field.error + .error .messages {
    display: none !important;
}

.new-signin .pwd-section .input-container.error .val-tooltip, .new-signin .show-pass-container.error .val-tooltip {
    display: block !important;
}

.new-signin .pwd-section .input-container.main-error-field.error {
    overflow: visible;
}

.new-signin .pwd-section .input-container.error {
    overflow: hidden;
}

.ie8 .new-signin .pwd-section .input-container {
    overflow: hidden;
}

.new-signin .pwd-section label {
    font-size: 1em;
}

.new-signin .pwd-section .fields-holder [type="submit"] {
    min-width: 100%;
}

.new-signin .pwd-section .email-info {
    padding: 5px 0 19px;
    font-size: 1em;
    width: auto;
}

    .new-signin .pwd-section .email-info:after {
        content: '';
        clear: both;
        display: block;
    }

    .new-signin .pwd-section .email-info dt {
        float: left;
        font-weight: bold;
        margin: 0 5px 0 0;
        width: auto;
    }

    .new-signin .pwd-section .email-info dd {
        margin: 0;
        display: block;
        overflow: hidden;
    }

.new-signin .pwd-section form .tip {
    margin-top: 31px;
    font-size: .855em;
}

.new-signin .pwd-section .text-with-tick {
    margin-bottom: 30px;
}

    .new-signin .pwd-section .text-with-tick .text-holder {
        overflow: hidden;
    }

.new-signin #changePasswordForm .fields-holder {
    width: 45%;
}

    .new-signin #changePasswordForm .fields-holder.centered {
        float: none;
        margin: 0 auto;
    }

.new-signin #changePasswordForm a:focus {
    font-weight: normal;
}

.new-signin #changePasswordForm .fields-holder input {
    width: 100%;
}

.new-signin #changePasswordForm .fields-holder label {
    display: inline-block;
}

.new-signin #changePasswordForm .fields-holder .pwd-toggler {
    font-size: 12px;
}

.new-signin #changePasswordForm .fields-holder .button {
    margin: 18px 0;
}

.new-signin .subtitle {
    padding: 21px 24px;
}

#wrapper .new-signin .bottom-fields-holder.no-label {
    margin: 0;
    float: none;
}

    #wrapper .new-signin .bottom-fields-holder.no-label .left {
        float: none;
    }

#wrapper .new-signin #changePasswordForm .bottom-fields-holder {
    float: none;
}

    #wrapper .new-signin #changePasswordForm .bottom-fields-holder input {
        margin: 0;
        padding: 0;
    }

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
    .coll-store-jl .store-icon, .coll-store-waitrose .store-icon, .coll-store-collectplus .store-icon, .icon-sprite, .checkout-sprite, .jTscrollerNextButton, .jTscrollerPrevButton, .tip-info-icon, .my-jl, .green-msg-box .tp-confirm-message, .tradeplace.red-msg-box .tp-oos-message, .tradeplace_oos #orderSummaryItems .red-msg-box .tp-oos-message, .decrease-qty span, .increase-qty span, .sel-delivery-options.sel-type-arrow, .grid-holder .grid a.selected .grid-selection, .grid-holder .grid a.hover .grid-selection, .general-msg .info-icon, .panel-btn-address:before {
        background-image: url('//johnlewis.scene7.com/is/image/JohnLewis/sprite-checkout-master-retina?$alpha$');
        background-size: 224px auto;
    }

    .spinner-lge {
        background-image: url("/static/img/loader-82.gif");
        background-size: 41px 41px;
    }

    .spinner-sml {
        background-image: url("/static/img/loader-36.gif");
        background-size: 18px 18px;
    }

    .pay-paypal {
        background-image: url("//johnlewis.scene7.com/is/image/JohnLewis/Use_PayPal_retina_32");
        background-size: 134px auto;
    }

    #gc-voucher-container .tab-content .gc-voucher-img, #gc-voucher-container .tab-content .gc-card-img {
        background-image: url('//johnlewis.scene7.com/is/image/JohnLewis/sprite-checkout-card-retina?$alpha$');
        background-size: 266px auto;
    }

    .input-wrapper .reset-btn {
        background-position: -8px -48px;
        background-size: 112px auto;
        top: 18px;
        height: 11px;
        right: 10px;
    }
}
