<div id="wrapper-footer" style="visibility: visible; position: static; width: auto;">

  <div class="no-js-hidden">
    <aside role="complementary" class="set-visible">

      <div class="mod-global-promo global-promo-alt-1 fn_sc_v8" data-jl-sc-finding-method="Your viewed items" style="display: inline-block;">

        <div class="promo-head">

          <h4>Your viewed items</h4>
          <a class="clear-all" href="/store/browse/gadgets/globalPromoProduct.jsp?_DARGS=/store/browse/gadgets/browsingHistoryYourViewedItems.jsp_AF&amp;_dynSessConf=1790858504718242178&amp;removeAllRecentlyViewedProducts=removeAllRecentlyViewedProducts&amp;_D%3AremoveAllRecentlyViewedProducts=+">Clear all</a>
          <a href="#" class="expand-items">expand</a>
        </div>


        <div class="no-js-hidden">

          <a href="#" class="btn-prev disabled hidden">Previous</a>
          <a href="#" class="btn-next disabled hidden">Next</a>

        </div>
        <div class="glob-crsl-wrap">
          <div class="global-promo-carousel">
            <ul class="promo-list">

              <li class="promo-item popup-info">

                <div class="popup-trigger">

                  <a class="rmv-item" href="/store/browse/gadgets/globalPromoProduct.jsp?_DARGS=/store/browse/gadgets/globalPromoProduct.jsp_AF&amp;_dynSessConf=1790858504718242178&amp;_D%3AremoveRecentlyViewedProduct=+&amp;removeRecentlyViewedProduct=3227042">
                    <span class="ctm-tooltip left"><span class="inner">remove</span></span>
                  </a>

                  <a href="/store/fidget-spinner-assorted-colours/p3227042?navAction=jump" class="product-wrapper ">
                    <span class="text-capitalize">
                      <img title="Fidget Spinner, Assorted Colours" src="https://johnlewis.scene7.com/is/image/JohnLewis/236947003?$rv_thmb$" alt="Fidget Spinner, Assorted Colours">
                    </span>
                  </a>

                </div>

                <div class="popup" style="opacity: 0;">
                  <span class="popupArrow"></span>
                  <h3>
                    <a class="" href="/fidget-spinner-assorted-colours/p3227042?navAction=jump">
                      <span class="text-capitalize">Fidget Spinner, Assorted Colours</span>
                    </a>
                  </h3>


                  <p class="special-offer">

                  </p>

                  <p class="price">
                    <a href="/fidget-spinner-assorted-colours/p3227042?colour=">
                      <strong>
                        £4.00
                      </strong>
                    </a>
                  </p>

                  <p class="inline-ratings">
                    <a target="" class="fn_sc_e45 rr_product_id_3227042" href="/fidget-spinner-assorted-colours/p3227042#tabinfo-ratings">
                      <img alt="Rated an average of 4.3333/5" src="//johnlewis.ugc.bazaarvoice.com/7051redes-en_gb/4.3/5/rating.gif">

                      <span>3&nbsp;Reviews</span>
                    </a>
                  </p>


                </div>

              </li>



              <li class="promo-empty">
                <p>You have no viewed items</p>
              </li>

            </ul>
          </div>
        </div>


      </div>


      <div class="glob-promo-shadow hidden"></div>

      <div class="mod-recently-viewed" style="height: 34px;">


        <h4>Recently viewed pages:</h4>
        <ol>

          <li>
            <a href="/our-services/nursery-advice-service">Nursery advice service</a>
          </li>

        </ol>
        <a class="clear-recent-links" href="/store/browse/gadgets/browsingHistory.jsp?_DARGS=/store/browse/gadgets/browsingHistoryYourViewedPages.jsp_AF&amp;_dynSessConf=1790858504718242178&amp;requestURIGP=/store/home.jsp&amp;_D%3AremoveRecentlyViewedProduct=+&amp;removeRecentlyViewedProduct=&amp;queryStringGP=">
          Clear
        </a>
      </div>

    </aside>
  </div>

  <div class="footer-base"></div>
</div>


<div id="footer-continue">

  <aside>

    <section class="footer-links">
      <div class="par parsys">
        <div class="cms30r section">
          <div class="free-html">
            <div class="SL_swap" id="int_footer_links">
              <!-- THIS MUST BE HERE FOR INTERNATIONAL TO WORK -->
              <style>
              /* Start styles for footer links */ .cq-seo-links {
              padding: 0 -20px 0 0;
              margin: 7px 0 0 -4px;
            }

            .cq-seo-links .cq-seo-list {
              width: 145px;
              float: left;
              padding: 0 17px 0 0;
            }

            .cq-seo-links .cq-seo-list h3 {
              font-size: 1em;
              margin: 0 0 12px;
              font-weight: bold;
            }

            .cq-seo-links .cq-seo-list ul {
              margin: 0 0 15px;
              padding: 0;
            }

            .cq-seo-links .cq-seo-list ul li.cq-ft-last {
              margin-bottom: 0;
            }

            .cq-seo-links .cq-seo-list ul li {
              background-image: url("https://johnlewis.scene7.com/is/image/JohnLewis/sprite-JL-main-v02?$alpha_png$");
              background-repeat: no-repeat;
              background-position: -850px -497px;
              background-color: transparent;
              padding-left: 12px;
              margin: 0 0 5px;
              list-style: none;
            }

            .cq-seo-links .cq-seo-list ul li.cq-ft-mob {
              background-position: -850px -125px;
              padding: 0 0 2px 20px;
            }

            .cq-seo-links .cq-seo-list ul li.cq-ft-feedback {
              background-position: -129px -27px;
              padding: 0 0 2px 20px;
            }

            .cq-seo-links .cq-seo-list ul li a:link, .cq-seo-links .cq-seo-list ul li a:active, .cq-seo-links .cq-seo-list ul li a:visited {
              text-decoration: none;
              font-weight: normal;
            }

            .cq-seo-links .cq-seo-list ul li a:hover {
              text-decoration: underline;
            }

            .cq-survey-floater {
              width: 89px;
              min-height: 78px;
              overflow: hidden;
              text-align: center;
              cursor: pointer;
              z-index: 999997;
              position: fixed;
              bottom: 40px;
              right: 20px;
              border: 1px solid #000;
              background: #fff;
              opacity: 0.7;
            }

            .cq-survey-floater .cq-survey-screen-reader {
              color: transparent;
              display: block;
              position: relative;
              height: 0;
              width: 0;
              line-height: 0;
              font-size: 0;
            }

            .cq-survey-floater .cq-survey-bubble {
              color: #000;
              width: 100%;
              height: 100%;
              background: transparent url(https://johnlewis.scene7.com/is/image/JohnLewis/feedback-bubble) center 14px no-repeat;
              text-align: center;
              padding: 55px 0 10px;
              position: relative;
              z-index: 2;
            }

            .cq-survey-floater:hover .cq-survey-bubble {
              display: block;
              text-decoration: underline;
            }

            .ie8 .cq-survey-floater {
              background: transparent;
            }
            /* End styles for footer links */ /* Start feedback form styles */

            #cq-feedback-container {
              background: transparent url("https://johnlewis.scene7.com/is/image/JohnLewis/feedback-icon-background-010313?&fmt=gif") no-repeat top left;
              min-height: 109px;
              width: 235px;
              padding: 12px 0 0 12px;
              margin: 38px 0 0 20px;
              cursor: pointer;
            }

            #cq-feedback-container p {
              margin: 3px 0 9px 0;
            }

            #cq-feedback-container a:link, #cq-feedback-container a:visited {
              text-decoration: underline;
            }

            #cq-feedback-container a:hover {
              text-decoration: none;
            }
            /* End feedback form styles */ /* Start social media styles */

            .cq-footer-social {
              float: right;
              width: 325px;
            }

            .cq-footer-social ul {
              float: right;
              width: 192px;
              margin-bottom: 0 !important;
            }

            .cq-footer-social ul li {
              background-image: url(https://johnlewis.scene7.com/is/image/JohnLewis/sprite-JL-main-v02-270515?$alpha_png$);
              background-color: transparent;
              background-repeat: no-repeat;
              list-style: none;
              float: left;
              margin: 0 9px 0 0;
              width: 23px;
              height: 23px;
              padding-left: 0;
            }

            .cq-footer-social p {
              font-size: 12px;
              font-weight: bold;
              float: left;
              margin-right: 10px;
              margin-bottom: 0 !important;
              line-height: 22px;
              padding-left: 45px;
              display: inline-block;
            }

            .cq-footer-social ul li a {
              width: 23px;
              height: 23px;
              display: block;
            }

            .cq-soc-fb {
              background-position: -850px 0;
            }

            .cq-soc-tw {
              background-position: -850px -25px;
            }

            .cq-footer-social ul li.cq-soc-yt {
              background-position: -850px -100px;
            }

            .cq-soc-ggl {
              background-position: -850px -50px;
            }

            .cq-soc-pin {
              background-position: -850px -75px;
              margin-right: 0;
            }

            .cq-soc-ig {
              background-position: -850px -577px;
              margin-right: 0;
            }
            /* End social media */ /* Start legal information styles */

            .cq-footer-legal p.cq-legal-address {
              margin: 0;
              font-style: normal;
            }

            .cq-footer-legal {
              width: 960px;
              padding: 20px 0;
            }

            .cq-footer-legal p {
              margin-bottom: 10px;
            }

            .cq-footer-legal p.cq-copyright-text {
              float: right;
              text-align: right;
            }

            .cq-footer-legal .cq-col1 {
              width: 600px;
              float: left;
            }

            </style>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="footer-social">
    <div class="parsys par">
      <div class="section cms30r">

      </div>
    </div>

  </section>

</aside>

<footer>
  <div class="newsletter-wrapper" id="sign-up">

    <div class="sign-up-form-wrapper">
      <form id="newsletter" action="/store/common/quickSignUp/quickSignUpForm.jsp?_DARGS=/store/common/quickSignUp/quickSignUpForm.jsp#sign-up" class="newsletter" method="post" novalidate="novalidate">
        <div style="display:none">
          <input name="_dyncharset" value="UTF-8" type="hidden">
        </div>
        <div style="display:none">
          <input name="_dynSessConf" value="1790858504718242178" type="hidden">
        </div>
        <p class="first">Sign up for the latest news, offers and ideas:</p>

        <fieldset>

          <label for="newsletter-email" class="required"></label>
          <input id="newsletter-email" maxlength="40" placeholder="Your email address" name="newsletter-email" value="" type="email" data-jl-regex="email"><input name="_D:newsletter-email" value=" " type="hidden"><!--[if IE]><input type="text" style="display: none;" disabled="disabled" size="20" value="IE8 hack" /><![endif]-->
          <input name="sign-up" value="Sign up" class="btn-sign-up" type="submit"><input name="_D:sign-up" value=" " type="hidden"><input name="/com/johnlewis/jec/website/signup/QuickSignUpFormHandler.ajaxResponseURL" value="/store/common/quickSignUp/ajax/quickSignUpAjaxResponse.jsp" type="hidden"><input name="_D:/com/johnlewis/jec/website/signup/QuickSignUpFormHandler.ajaxResponseURL" value=" " type="hidden">
          <small class="field-error" data-errormessages="{&quot;required&quot;:&quot;Please enter your email address&quot;}">

            Please enter a valid email address

          </small>
        </fieldset>
        <div style="display:none">
          <input name="_DARGS" value="/store/common/quickSignUp/quickSignUpForm.jsp" type="hidden">
        </div>
      </form>
    </div>
    <div class="parsys par">
      <div class="section cms30r">
        <div class="free-html">
          <section class="cq-footer-social fn_sc_e48">
            <p class="first">Follow us on:</p>
            <ul>
              <li class="cq-soc-fb">
                <a class="tooltip-trigger" target="_blank" href="http://www.facebook.com/JohnLewisRetail">
                  <p class="tooltip tooltip-social tooltip-btm-lft tooltip-top">
                    Facebook
                    <span class="tooltip-arrow"></span>
                  </p>
                </a>
              </li>
              <li class="cq-soc-tw">
                <a class="tooltip-trigger" target="_blank" href="https://twitter.com/JohnLewisRetail">
                  <p class="tooltip tooltip-social tooltip-btm-lft tooltip-top">
                    Twitter
                    <span class="tooltip-arrow"></span>
                  </p>
                </a>
              </li>
              <li class="cq-soc-yt">
                <a class="tooltip-trigger" target="_blank" href="http://www.youtube.com/JohnLewisRetail">
                  <p class="tooltip tooltip-social tooltip-btm-lft tooltip-top">
                    YouTube
                    <span class="tooltip-arrow"></span>
                  </p>
                </a>
              </li>
              <li class="cq-soc-ggl">
                <a class="tooltip-trigger" target="_blank" href="https://plus.google.com/+JohnLewis/posts">
                  <p class="tooltip tooltip-social tooltip-btm-lft tooltip-top">
                    Google+
                    <span class="tooltip-arrow"></span>
                  </p>
                </a>
              </li>
              <li class="cq-soc-pin">
                <a class="tooltip-trigger" target="_blank" href="http://pinterest.com/JohnLewisRetail">
                  <p class="tooltip tooltip-social tooltip-btm-lft tooltip-top">
                    Pinterest
                    <span class="tooltip-arrow"></span>
                  </p>
                </a>
              </li>
              <li class="cq-soc-ig">
                <a class="tooltip-trigger" target="_blank" href="http://instagram.com/johnlewisretail">
                  <p class="tooltip tooltip-social tooltip-btm-lft tooltip-top">
                    Instagram
                    <span class="tooltip-arrow"></span>
                  </p>
                </a>
              </li>
            </ul>
          </section>
          <!-- end CQ5 block for social -->
        </div>
      </div>
    </div>
  </div>
  <div class="par parsys">
    <div class="cms30r section">
      <div class="free-html">
      <style type="text/css">
      .free-html .cq-footer-legal p {
        -webkit-text-size-adjust: 100%;
      }
      </style>
      <section class="cq-footer-legal">
        <div class="cq-col1">
          <address>
            <p class="cq-legal-address">John Lewis plc Registered office 171 Victoria Street, London SW1E 5NN, Registered in England.</p>
          </address>
          <p>Company registration number 233462 VAT no. GB232457280</p>
        </div>
        <p class="cq-copyright-text">Copyright © John Lewis Partnership 2001 - 2017</p>
      </section>
    </div>
  </div>
</div>
</footer>

</div>


<div id="no-results-overlay" class="overlay-wrapper error-overlay" style="display: none">
  <div class="overlay media-overlay" style="overflow: visible; top: 30px;">
    <a href="" onclick="javascript:history.go(-1);return false;" class="close-panel">Close</a>
    <div class="contents clear mod-no-results">
      <div class="mod-important">
        <h2>Sorry, we couldn't find any results matching your filters</h2>
        <div class="clear">
          <a href="" onclick="javascript:history.go(-1); return false;" class="btn-slrg-noresultsback button"><span>Back to previous results</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay-bg" style="display: none; opacity: 0.6;"></div>
</div>


<div id="view-map-overlay" class="overlay-wrapper">
  <div class="overlay overlay-map" style="overflow: visible;">
    <div style="clear:both"></div>
  </div>
</div>
<div class="overlay-bg"></div>
