
{% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="{% static 'css/common-1.css' %}" rel="stylesheet">
    <link href="{% static 'css/common-2.css' %}" rel="stylesheet">
    <link href="{% static 'css/common-3.css' %}" rel="stylesheet">
    <link href="{% static 'css/content.css' %}" rel="stylesheet">
    <link href="{% static 'css/product.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icon/css/flag-icon.min.css' %}" rel="stylesheet">
